version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: postgres
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "${POSTGRES_PORT}:5432"
    # volumes:
    #   - postgres_data:/var/lib/postgresql/data
    # networks:
    #   - app-network
    # healthcheck:
    #   test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
    #   interval: 10s
    #   timeout: 5s
    #   retries: 5

  minio:
    image: minio/minio:latest
    container_name: minio
    command: server /data --console-address ":9001" --address ":9000"
    environment:
      MINIO_SERVER_URL: ${MINIO_SERVER_URL}
      MINIO_DOMAIN: 64.23.178.251
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    ports:
      - "${MINIO_PORT}:9000"
      - "${MINIO_CONSOLE_PORT}:9001"
    volumes:
      - minio_data:/data
#     networks:
#       - app-network
#     healthcheck:
#       test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
#       interval: 30s
#       timeout: 10s
#       retries: 3

#   backend:
#     build:
#       context: ./backend
#       dockerfile: Dockerfile
#     container_name: backend
#     ports:
#       - "${BACKEND_PORT:-8080}:8080"
#     environment:
#       SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/${POSTGRES_DB}
#       SPRING_DATASOURCE_USERNAME: ${POSTGRES_USER}
#       SPRING_DATASOURCE_PASSWORD: ${POSTGRES_PASSWORD}
#       MINIO_URL: http://minio:9000
#       MINIO_ACCESS_KEY: ${MINIO_ROOT_USER}
#       MINIO_SECRET_KEY: ${MINIO_ROOT_PASSWORD}
#       MINIO_BUCKET: album-covers
#       SPRING_JPA_HIBERNATE_DDL_AUTO: update
#       SPRING_FLYWAY_ENABLED: true
#     depends_on:
#       postgres:
#         condition: service_healthy
#       minio:
#         condition: service_healthy
#     networks:
#       - app-network
#     restart: unless-stopped

#   frontend:
#     build:
#       context: ./frontend
#       dockerfile: Dockerfile
#     container_name: frontend
#     ports:
#       - "${FRONTEND_PORT:-5173}:80"
#     depends_on:
#       - backend
#     networks:
#       - app-network
#     restart: unless-stopped

# networks:
#   app-network:
#     driver: bridge

volumes:
  # postgres_data:
  minio_data: