spring:
  datasource:
    url: jdbc:postgresql://localhost:${POSTGRES_PORT:5433}/${POSTGRES_DB:seplagdb}
    username: ${POSTGRES_USER:seplag}
    password: ${POSTGRES_PASSWORD:seplag}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: false
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    baseline-on-migrate: true

  application:
    name: seplag-backend

app:
  websocket:
    allowed-origins: ${ALLOWED_ORIGINS:http://localhost:5173,http://localhost:3000}

minio:
  url: ${MINIO_URL:http://minio:9000}
  public-url: ${MINIO_PUBLIC_URL:http://localhost:9000}
  access-key: ${MINIO_ROOT_USER:admin}
  secret-key: ${MINIO_ROOT_PASSWORD:admin123}
  bucket: album-covers

server:
  port: 8080
  address: 0.0.0.0

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
      show-components: always
      probes:
        enabled: true
  health:
    livenessState:
      enabled: true
    readinessState:
      enabled: true
